
<div *ngIf="loading" class="loading-spinner">
    <!-- Your loading spinner component or HTML/CSS here -->
    Loading...
</div>

<section class="banner">
    <h3>Looking for great food near you</h3>
    <p class="xl-text">Delicious food deliver at your doorstep.Hot or cold, we deliver it Freshly from the shop to your house.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt.</p>
    <p class="small-text">Delicious food deliver at your doorstep.Hot or cold, we deliver it Freshly from the shop to your house.</p>
    <button class="button-20">Order Now</button>
</section>
<section class="tag">
    <app-tag [sliderType]="sliderType" [imgType]="imgType" [sliderCount]="4" [h3Class]="h3Class"></app-tag>
</section>
<section class="restaurant">
    <app-restaurants></app-restaurants>
</section>
