<div class="social">
    <i class="fa fa-instagram fa-solid" style="color:red"></i>
    <i class="fa fa-twitter fa-solid" style="color:skyblue"></i>
    <i class="fa fa-facebook fa-solid" style="color:blue"></i>
</div>
<header [ngClass]="{'hidden': isHidden}">
    <div class=" header container">
        <a class="homelogo" href="#" routerLink="/">
         <img src="assets/images/logo.jpeg" alt="Logo image">
            Food Corner</a>
        <div class="menu">
            <nav>
                <ul>
                    <li>
                       <a href="#" routerLink="/home"> <i class="fa fa-search"></i>Search</a>
                    </li>
                    <li>
                        <a href="#" routerLink=""><i class="fa fa-gift"></i>Offers</a>
                    </li>
                    <li>
                        <a href="#" routerLink=""><i class="fa fa-user"></i>Sign In</a>
                    </li>
                    <li>
                        <a href="#" routerLink=""><i class="fa fa-cart-plus"></i>Cart</a>
                    </li>
                </ul>
            </nav>    
        </div>
        <div class="mobile-menu">
            <label for="menu-toggle" id="menu-icon"><i class="fa fa-bars"></i></label>
            <input type="checkbox" id="menu-toggle">
            <nav class="mobile-nav">
                <label for="menu-toggle" id="close-icon" class="close-icon">&#10006;</label>
                <ul>
                    <li><a href="#" routerLink="/home"><i class="fa fa-search"></i>Search</a></li>
                    <li><a href="#" routerLink=""><i class="fa fa-gift"></i>Offers</a></li>
                    <li><a href="#" routerLink=""><i class="fa fa-user"></i>Sign In</a></li>
                    <li><a href="#" routerLink=""><i class="fa fa-cart-plus"></i>Cart</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
