<footer>
    <div class="sec">
        <h3>Food Corner</h3>
        <p>© 2023 Food Corner Pvt. Ltd</p>
    </div>
    <div class="sec">
        <h3>Company and Contact us</h3>
        <ul>
            <li>About us</li>
            <li>Help & Support</li>
            <li>Terms and Conditions</li>
        </ul>
    </div>
    <div class="sec">
        <h3>We deliver to:</h3>
        <ul>
            <li>Banglore</li>
            <li>Delhi</li>
            <li>Kerala</li>
        </ul>
    </div>
</footer>
